# Ignore everything
/*

# But not these directories
!/assets/
!/android/
!/lib/
!/ios/

# Ignore files in the root directory
/*.*/

# Ignore all files in directories, but not the directories themselves
/**/*